<!DOCTYPE html>
<html lang="en">
<head>
    {{ bootstrap.load_css() }}
    <link rel="stylesheet" href="static/styles/styles.css"/>
    <meta charset="UTF-8">{% block title %}
    <title>Dangerous Writing App</title>{% endblock %}
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

</head>
<body>
<div class="img logo">
    <a href="{{ url_for('home_page') }}"><img src="static/squiblerlogo.jpg" class="squiblerlogo"></a>
</div>

<div class="container">
<div class="logo">

<h1>The Most <span class="dangeroustext">Dangerous</span> Random Prompt Generator</h1>
</div>
   </div>
<div class="container">
    <a href="{{ url_for('prompt') }}" class="button">{{ prompt_text }}</a>
</div>
<div class="buttons">
<a href="{{ url_for('prompt') }}" class=" gen_prompt">Generate a New Prompt</a>
<a href="{{ url_for('write', prompt_in=prompt_text) }}" class="no_prompt">Start Writing</a>

</div>
</body>
 {{ bootstrap.load_js() }}
</html>