a.button {
    padding: 10px 20px;
    border: 3px outset buttonborder;
    border-radius: 25px;
    color: buttontext;
    background-color: buttonface;
    text-decoration: none;
    font-size: 30px;
    display: inline-block;
    text-align: center;
}
.gen_prompt{
    margin-right: 40px;
    padding: 10px 20px;
    border: 3px outset buttonborder;
    border-radius: 25px;
    color: buttontext;
    background-color: buttonface;
    text-decoration: none;
    font-size: 30px;
    display: inline-block;
    text-align: center;
}

.no_prompt{
    padding: 10px 20px;
    border: 3px outset buttonborder;
    border-radius: 25px;
    color: buttontext;
    background-color: buttonface;
    text-decoration: none;
    font-size: 30px;
    display: inline-block;
    text-align: center;
    color: red;
    border-color:red;

}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 100px;
  margin-left: 850px;
}


.squiblerlogo{

position:relative;
bottom: 75px;
height:250px;
width:250px;

}

.dangeroustext{
color:red;
}

h1{
    font-size:50px;
}

.write_box{

width: 2250px;
height: 1000px;
position:relative;
bottom: 300px;
font-size: 20px;
}